{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- displaying form -->
<div class="row justify-content-center">
    <div class = "col-md-6">
       <div class="card">
            <div class="card-header">Create Your New Note</div>
            <div class="card-body">
                <form action="{% url 'notes.new' %}" method="post">

                    {% csrf_token %}        <!-- For Security In Post Method -->
                    
                    {{form}}         <!-- calling form -->
                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                   
                </form>
        
                <!-- For error message styling  -->
                <!-- {% if form.errors %}    
                    <div class="alert alert-danger">
                        {{form.errors}}
        
                    </div>
                {% endif %} -->
            </div>

       </div>
    </div>
</div>


{% endblock %}