<!-- For Delete Confirmation Page -->

{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
    <div class="col md-6">
        <div class="confirm-message text-center">    <!-- for aligning in center -->
            <form action="" method="post">
                {% csrf_token %}        <!-- For Security In Post Method -->
                <p>Are you sure you want to go ahead and delete your <q>{{notes.title}}</q> note?</p>
                <p>Please consider carefully, as this action cannot be undone!</p>
                <input type="submit" class="btn btn-sm btn-danger" value= "Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}