{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
      .btn-purple {
        background-color: rgb(87, 82, 196);
        color: white;
        padding: 5px 10px;
    }

    .text-purple {
    color:  rgb(87, 82, 196);
}
</style>
<!-- displaying form -->
<div class="row justify-content-center">
    <div class = "col-md-6">
       <div class="card">
        <div class="card-header fw-bold fs-5">📝 Begin a fresh note</div>

            <div class="card-body">
                <form action="" method="post">

                    {% csrf_token %}        <!-- For Security In Post Method -->
                    
                    {{form}}         <!-- calling form -->
                    <button type="submit" class="btn btn-sm btn-purple">Submit</button>
                   
                </form>
        
                <!-- For error message styling  -->
                <!-- {% if form.errors %}    
                    <div class="alert alert-danger">
                        {{form.errors}}
        
                    </div>
                {% endif %} -->
            </div>
            <!-- for Back button in single edit page -->
            <div class="card-footer">
                <!-- <a href="{% url 'notes.list' %} " class="btn btn-sm btn-primary">Back</a> -->
                <form action="{% url 'notes.list' %}" method="get" class="d-inline">
                    <button type="submit" class="btn">
                        <i class="far fa-circle-left fa-lg text-purple"></i>
                        <span class="text-purple">Back</span>
                    </button>   
                </form>
            </div>
       </div>
    </div>
</div>


{% endblock %}