{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- displaying form -->
<div class="row justify-content-center">
    <div class = "col-md-6">
       <div class="card">
            <div class="card-header">Create Your New Note</div>
            <div class="card-body">
                <form action="" method="post">

                    {% csrf_token %}        <!-- For Security In Post Method -->
                    
                    {{form}}         <!-- calling form -->
                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                   
                </form>
        
                <!-- For error message styling  -->
                <!-- {% if form.errors %}    
                    <div class="alert alert-danger">
                        {{form.errors}}
        
                    </div>
                {% endif %} -->
            </div>
            <!-- for Back button in single edit page -->
            <div class="card-footer">
                <!-- <a href="{% url 'notes.list' %} " class="btn btn-sm btn-primary">Back</a> -->
                <form action="{% url 'notes.list' %}" method="get" class="d-inline">
                    <button type="submit" class="btn">
                        <i class="far fa-circle-left fa-lg text-primary"></i>
                        <span class="text-primary">Back</span>
                    </button>   
                </form>
            </div>
       </div>
    </div>
</div>


{% endblock %}s